#whatmain {
  .row {
    max-width: 1000px;
    margin: auto;
  }
}

.whatbox {
  text-align: center;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;

  span {
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 20px;
    color: white;
    border-radius: 190px;
  }

  p {
    font-size: 13px;
    line-height: 24px;
  }
}

.whatboxsm {
  text-align: left;

  span {
    font-size: 2.5em;
    float: left;
    height: 24px;
    margin-right: 24px;
    width: 28px;
  }

  p {
    margin-left: 50px;
  }
}

.thumb {
  text-align: center;
  margin-top: 60px;

  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
}

.card {
  background-color: $col--white;
  border-radius: 18px;
}

.card-title-spacer {
  height: 40px;
}

.card-title {
  height: 40px;
  overflow: hidden;

  h5 {
    text-align: center;
    font-size: 1.3em;
    font-family: $font--headings;
    text-transform: uppercase;
  }
}

.card-details {
  padding: 18px;
  text-align: justify;
}

.card-details-spacer {
  padding-top: 18px;
}

@media (min-width: $screen-md) {
  .card-details, .card-details-spacer {
    height: 240px;
  }
}

.card-rowtitles {
  text-align: right;
  padding-right: 0;
}

@media (max-width: $screen-md) {
  .card-rowtitles {
    display: none;
  }
}

.card-details-spacer, .card-support-spacer, .card-price-spacer {
  font-weight: $font-weight--bold;
}

.big-central-text {
  color: $col--bootstrap-black;
  font-size: 1.3em;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.pricing-card {
  margin-top: 40px;
  text-align: center;
  background-color: white;

  h6 {
    color: $col--mid-grey;
  }

  p {
    color: $col--dark-grey;
  }

  hr {
    width: 60%;
  }

  // .amount {
  //   color: $col--dark-grey;
  // }
}

.bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}