// see http://stackoverflow.com/questions/11289166/chrome-on-android-resizes-font
// html * {max-height:1000000px;} // resets font sizes for some reason


body {
	font-family: $font--main;
	color: $col--azur-light-blue;
}

.fa {
	color: $col--azur-dark-blue;
}

p {
	font-size: 13px;
	line-height: 24px;
	color: $col--azur-light-blue;
}

h1, h2, h3, h4 {
	font-family: $font--headings;
	color: $col--azur-dark-blue;
}

h2 {
	margin-top: 0;
	position: relative;
	padding-bottom: 10px;
	text-align: center;
}

h4 {
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

h3 {
	text-align: center;
}

a {
	text-decoration: none;
	color: $col--azur-dark-blue;
}

a:hover, a:active {
	color: $col--azur-dark-blue;
	text-decoration: underline;
}

span.red {
	color: $col--azur-orange;
}
