// centre content: http://stackoverflow.com/questions/23240114/
// not sure about this...
@mixin center-content($axis: "both") {
    position: absolute;

    @if $axis == "y" {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    @if $axis == "x" {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    @if $axis == "both" {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

// TODO: probably unnecessary
@mixin bg-gradient($start:0.4, $stop:0.8, $color1: rgb(0, 0, 0), $color2: 'auto') {
    @if $color2 == 'auto' {
        $color2: $color1;
    }


    background: -moz-linear-gradient(top, rgba($color1, $start) 0%, rgba($color2, $stop) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($color1, $start)), color-stop(100%,rgba($color2, $stop)));
    background: -webkit-linear-gradient(top, rgba($color1, $start) 0%,rgba($color2, $stop) 100%);
    background: -o-linear-gradient(top, rgba($color1, $start) 0%,rgba($color2, $stop) 100%);
    background: -ms-linear-gradient(top, rgba($color1, $start) 0%,rgba($color2, $stop) 100%);
    background: linear-gradient(to bottom, rgba($color1, $start) 0%,rgba($color2, $stop) 100%);
}