/* sections */

header, section, footer {
  width: 100%;
}

header .container {
  margin: 0;
  width: 100%;
  position: relative;
  text-align: left;
  padding-top:150px;
  padding-bottom: 150px;

  @include bg-gradient(0.3, 0.8, lighten($col--flat-dark, 10%), darken($col--flat-dark, 20%));

  h1.logo {
    color: white; //$col--flat-light;
    text-align:left;
    font-size:4em;
    color: white;
    text-align: left;
    font-size: 6em;
    letter-spacing: -0.07em;
    span {
      color: $col--highlight;
    }
  }

  h3 {
    text-align:left;
    color: $col--flat-light;
    // span {
    //   color: $col--flat-dark-blue;
    // }
  }

  .action {
    border-radius: 4px;
    font-size: 13px;
    font-weight: $font-weight--bold;
    text-align: center;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    color: $col--flat-light;
    white-space:nowrap;
    padding: 10px 24px;
    display:inline-block;

    .fa {
      color: $col--flat-light;
      margin-right:5px;
      font-size:2em;
      vertical-align: middle;
    }
    .words {
      vertical-align: middle;
    }
    &:hover { 
      text-decoration: none;
    }
    &.one {
      background-color: $col--flat-dark-blue;
      border-color: $col--flat-dark-blue;
      &:hover {
        background-color: darken($col--flat-dark-blue, 10%);
        border-color: darken($col--flat-dark-blue, 10%);
      }
    }
    &.two {
      margin-left:25px;
      border-color: $col--flat-light;
      background-color: transparent;
      &:hover, &:hover .fa { 
        background-color: $col--flat-light;
        color: $col--flat-dark;
      }
    }
  }

  p {
    color: $col--flat-light;
    font-size: 1.3em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.mabel-logo {
  width: 225px;
  height: 225px;
  border: 2px solid $col--black;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  margin-top: 50px;

  h1 {
    margin: 0;
    font-size: 4em;
    color: $col--black;
    text-shadow: 2px 2px 0px $col--highlight;

    &::after {
      content: "";
      line-height: 225px;
      height: 225px;
    }
  }
}

.center-fix {
  margin: auto;
  display: inline-block;
}

#whatmain {
  @include slide-padding;
  background-color: $col--bg-light;
}

#intro {
  @include slide-padding;
  background-color: $col--bg-dark;
}

#whatsm {
  @include slide-padding;
  background-color: $col--bg-light;
}

#using {
  @include slide-padding;
  background-color: $col--bg-dark;
}

#creators {
  @include slide-padding;
  background-color: $col--bg-light;
}

#more {
  font-size: 2em;
  text-align: center;
  @include slide-padding;
  background-color: $col--mabel-orange;

  p {
    font-family: $font--headings;
    color: $col--black;
    text-transform: uppercase;
    font-weight: bold;
  }

  a.mail-link {
    text-decoration: underline;
    color: $col--black !important;
  }
}

footer {
  background-color: $col--dark-grey;
  color: $col--light-grey;
  height: 40px;

  p {
    text-align: center;
    margin: 17px;
    font-size: 12px;
  }

  a, a:hover, a:active {
    text-decoration: underline;
    color: $col--light-grey;
    font-weight: $font-weight--normal;
  }
}