html
	head
		title Mabel - A May Ball ticketing system
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="/assets/css/main.css")
	body
			header
				//- img.bgimage(src="https://images.unsplash.com/uploads/1413259835094dcdeb9d3/6e609595?q=80&fm=jpg&s=34df8de331cae7450247b04ed37d9ede")
				.container
					.row
						.col-sm-6
							p [Screenshots on a mac or something here]
						.col-sm-6
							.titlebox
								.mabel-logo
									h1 Mabel

								p.big-central-text #[b Mabel] is a modern ticketing
									|  system designed especially for your May Ball, June
									|  Event or Garden Party. It is easy to use, and gives
									|  your committee the power to quickly do everything 
									|  it needs to.

								.row
									.col-md-6
										a(href="https://github.com/mabelticketing/mabel" target="_blank").btn.btn-default.btn-lg #[span.fa.fa-code] source
									.col-md-6
										a(href="#whatmain").btn.btn-default.btn-lg #[span.fa.fa-angle-down] read more
					div.bg(style="background-image:url(assets/img/bg2.jpg)")
			section#whatmain
				.container
					h2 What can Mabel do?
					// TODO: Better colours
					.row
						.col-sm-4.whatbox
							span.fa.fa-rocket.icon1
							h4 Rock-solid speed
							p Mabel will handle hundreds of simultaneous users without breaking a sweat. So you can rest easy on launch night knowing nothing can go wrong.
						.col-sm-4.whatbox
							span.fa.fa-moon-o.icon2
							h4 On the night
							p No one likes queueing, which is why we’ve integrated a super fast ticket scanning system. Your guests will be through the door in record time.
						.col-sm-4.whatbox
							span.fa.fa-paint-brush.icon3
							h4 Make Mabel yours
							p It’s easy to style Mabel to look exactly the way you want to, so your event’s theme can shine through when your guests buy their tickets.
			section#intro
				.container
					h2 But I already have a ticketing system!
					.row
						.col-md-6
							p Almost every committee has their own legacy system, passed on from one year to the next long after the original author has left. Nearly all of them have bugs and quirks, making the ticket booking experience error-prone or unreliable. In some cases, ticketing system bugs may actually be dangerous, as malicious users circumvent security systems.
						.col-md-6
							p Even if you’ve never had a problem with your ticketing system before, very few committees have the ability to update it in-house when new technologies appear. Can your ticketing system receive immediate online payments? Could it tie into electronic wristbands or a custom app for your event? Why waste your committee’s time by integrating these features when somebody else has already done it?
			section#whatsm
				.container
					h3 More Features
					.row
						.col-sm-6.whatboxsm
							span.fa.fa-ticket
							h4 Customisable ticket types
							p Queue-jump? Dining? Punting? Early bird? Our admin panel allows you to create as many ticket types as you can think of, and restrict exactly who can buy them.
						.col-sm-6.whatboxsm
							span.fa.fa-mobile
							h4 Mobile
							p We optimise Mabel for mobile, so students can book their tickets from the comfort of the college library.
					.row
						.col-sm-6.whatboxsm
							span.fa.fa-lightbulb-o
							h4 Intelligent Authentication
							p Mabel can use any authentication system you like. Raven support is built-in, and it is easy to extend Mabel to handle alumni or your college's own login system.
						.col-sm-6.whatboxsm
							span.fa.fa-calendar-check-o
							h4 Separate ticket release dates
							p If you want to release tickets to your college before the rest of the university, you can!
			section#using
				.container
					h2 Using Mabel
					.row
						.col-md-offset-2.col-md-8
							p(style="text-align:center") There are three ways to use Mabel. You can obtain the source code for free from our #[a(href="#") GitHub repository]—but then you’re on your own. If that sounds like too much trouble, we can do it for you instead.
						
					.row
						.col-md-4
							div.pricing-card
								h5 Community
								h6 Free 
								hr
								p Source Code Available (GPL) 
								p No Hosting
								p No Support
								p No Online Payments
								button.btn Get it
						.col-md-4
							div.pricing-card
								h5 Basic
								h6 £400 / year
								hr
								p Source Code Available (GPL) 
								p Hosting Included 
								p Support for Setup only
								p No Online Payments
								button.btn Get it
						.col-md-4
							div.pricing-card
								h5 Premium
								h6 3% of Ticket Sales
								hr
								p Source Code Available (GPL) 
								p Hosting Included 
								p Setup & Customisation Support
								p Online Payments Included 
								button.btn Get it
			section#creators
				.container
					h2 Creators
					.row
						.col-sm-12.col-md-3.col-md-offset-3.thumb
							img(src="/assets/img/tom.jpg")
						.col-sm-12.col-md-3.thumb
							img(src="/assets/img/chris.jpg")


					.row
						.col-sm-12.col-md-6.col-md-offset-3.big-central-text
							p Christopher and Tom are Computer Scientists at Emmanuel College. Both love pretty things, hate wasted time and can’t get enough JavaScript.
							p TODO: Emphasise May Ball experience more
			section#more
				.container
					p Want to learn more? Drop us an email at #[a.mail-link(href="mailto:hello@mabelticketing.co.uk") hello@mabelticketing.co.uk]

			footer
				.container
					p #[a(href="https://github.com/mabelticketing") GitHub] &middot; #[a(href="http://www.gnu.org/licenses/gpl-2.0.txt") License] &middot; &copy; Copyright Mabel Ticketing 2015.
