
// fonts
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

// preliminaries

html, body {
	margin: 0;
	padding: 0;
}

// variables

$font--serif: 'EB Garamond';
$font--main: monospace;

$col--text-primary: rgb(0, 0, 0);
$col--text-secondary: rgb(75, 75, 75);
$col--link-primary: rgb(25, 117, 255);

// styling

body {
	font-family: $font--main;
	color: $col--text-primary;
	line-height: 20px;

}

h1 {
	font-family: $font--serif;
	font-size: 5em;
	font-weight: 300;
	margin: 0;
	line-height:100px;
}

div.container {
	width: 600px;
	margin: auto;
	margin-top: 150px;
}

p.intro {
	font-size: 1.4em;
	color: $col--text-secondary;
}

footer {
	color: $col--text-secondary;
	height: 60px;
}